<header class="bg-primary text-base uppercase">
    <div class="bg-primary-dark">
        <div class="content-width flex justify-between">
            <div>
                {{/* social */}}
            </div>
            <nav class="w-1/2 max-w-md flex justify-between p-3 text-xs">
                <a class="text-light font-display" href="/about-us">About Us</a>
                <a class="text-light font-display" href="/our-work">Our Work</a>
                <a class="text-light font-display" href="/blog/">News</a>
                <a class="text-light font-display" href="/store">Store</a>
                <a class="text-light font-display" href="/donate">Donate</a>
            </nav>
        </div>
    </div>
    <div class="content-width flex justify-between items-stretch">
        <a href="/" class="w-40 mr-8 my-4">
            {{ $logo := resources.Get "img/logo-light.svg" }}
            {{ $logo.Content | safeHTML }}
        </a>
        <nav class="w-1/2 max-w-2xl flex justify-between items-center p-4 text-accent-light">
            <a class="font-display font-bold" href="/individual-training">Individual Training</a>
            <a class="font-display font-bold" href="/church-training">Church Training</a>
            <a class="font-display font-bold" href="/pricing">Pricing</a>
            <a class="button border-white text-white px-6 py-2 border-2 rounded"
                href="https://lightingtheworld.digitalchalk.com/auth/organization/find" target="_blank"
                rel="noopener noreferrer">Sign Up</a>
        </nav>
    </div>
</header>