<header class="relative bg-primary text-base uppercase z-10">
    <div class="bg-primary-dark">
        <div class="content-width flex justify-between">
            <div class="flex items-center">
                {{ range .Site.Data.header.social }}
                <a class="h-7 mr-4" href="{{ .url }}">
                    {{ $img := resources.Get .icon }}
                    {{ $img.Content | safeHTML }}
                </a>
                {{ end }}
            </div>
            <nav class="w-1/2 max-w-md flex justify-between p-3 text-xs">
                {{ range .Site.Menus.secondary }}
                <a class="text-buttermilk-yellow text-14 font-display" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </div>
    <div class="content-width flex justify-between items-stretch">
        <a href="/" class="w-40 mr-8 my-4">
            {{ $logo := resources.Get "img/logo-light.svg" }}
            {{ $logo.Content | safeHTML }}
        </a>
        <nav class="w-1/2 max-w-2xl flex justify-between items-center p-4">
            {{ range .Site.Menus.main }}
            {{ $atts := "" }}
            {{ if hasPrefix .URL "http" }}
            {{ $atts = "target='_blank' rel='noopener noreferrer'" | safeHTMLAttr }}
            {{ end }}
            <a class="font-display text-15 font-bold text-powder-blue {{ .Params.class }}" href="{{ .URL }}" {{ $atts }}>
                {{.Name}}
            </a>
            {{ end }}
        </nav>
    </div>
</header>