<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>

    {{ $scratch := newScratch }}
    {{ range (readDir "./assets/css/" ) }}
    {{ $sheet := resources.Get (printf "css/%s" .Name) }}
    {{ $scratch.Add "css" (slice $sheet) }}
    {{ end }}

    {{ $css := $scratch.Get "css" | resources.Concat "css/bundle.css" | postCSS }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ else }}
    {{ $css := $css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />
    {{ end }}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Work+Sans:wght@400;700;800&display=swap"
        rel="stylesheet">
</head>

<body id="{{ .Kind }}">
    {{ partialCached "site/header.html" . }}

    {{ block "main" . }}
    <main class="content-width py-32">
        <h1 class="heading text-3xl font-extrabold">{{ .Title }}</h1>
    </main>
    {{ end }}

    {{ with .Params.cta }}
    {{ partial "block" (merge (dict "kind" "cta") .) }}
    {{ end }}

    {{ partialCached "site/footer" . }}
</body>

</html>