{{ define "main" }}
<main>
    {{ partial "page-header" . }}
    <div class="max-w-2xl py-20 mx-auto">
        {{ range .Pages }}
        <div class="mb-12">
            <h2 class="heading text-4xl font-bold">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <p class="heading mb-2">
                <span>By:</span> {{ .Params.author }}
                <span>On:</span> {{ .Date.Format "January 2, 2006" }}
            </p>
            <p class="text-lg">{{ truncate 200 .Summary }}</p>
        </div>
        {{ end }}
    </div>
</main>
{{ end }}