{{ define "main" }}
{{ if not .Params.blocks }}
{{ partial "page-header" . }}
<div class="px-10">
    <div class="content-width py-20 flex flex-row flex-nowrap">
        {{ if gt (len .TableOfContents) 32 }}
        <aside id="toc" class="mr-20">
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <main class="leading-relaxed">
            <div class="max-w-2xl">{{ .Content }}</div>
        </main>
    </div>
</div>
{{ else }}
{{ range .Params.blocks }}
{{ if fileExists (printf "layouts/partials/%s.html" .kind) }}
{{ partial "block" . }}
{{ else }}
{{ errorf `"%s": partial %s does not exist` $.File.Path .kind }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}