{{ define "main" }}
{{ if not .Params.blocks }}
{{ partial "page-header" . }}
<div class="content-width py-20 flex flex-row flex-nowrap">
    <aside id="toc" class="px-10 text-2xl text-accent-light uppercase">
        {{ .TableOfContents }}
    </aside>
    <main class="px-10 text-lg text-body leading-relaxed">
        <div class="max-w-2xl">{{ .Content }}</div>
    </main>
</div>
{{ else }}
{{ range .Params.blocks }}
{{ if fileExists (printf "layouts/partials/%s.html" .kind) }}
{{ partial "block" . }}
{{ else }}
{{ errorf `"%s": partial %s does not exist` $.File.Path .kind }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}