@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-body text-regular font-light font-body;
}

.content-width {
    @apply max-w-7xl w-full mx-auto;
}

.heading {
    @apply text-heading font-display uppercase;
}

.heading-light {
    @apply text-white font-display uppercase;
}

h1 {
    @apply font-display font-extrabold uppercase;
    font-size: 42px;
}

h2 {
    @apply font-display font-extrabold uppercase;
    font-size: 36px;
}

h3 {
    @apply font-display font-extrabold uppercase;
    font-size: 28px;
}

h4 {
    @apply font-display uppercase;
    font-size: 20px;
}

h5 {
    @apply font-display font-bold uppercase;
    font-size: 18px;
}

h6 {
    @apply font-display font-extrabold uppercase;
    font-size: 15px;
}

.button {
    @apply inline-block px-6 py-2.5 border-3 rounded-lg font-display font-bold tracking-wide uppercase;
}

svg {
    @apply h-full fill-current;
}

.tab {
    display: none;
}

.tab+.content {
    display: none;
}

.tab:checked+.content {
    display: block;
}