@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-body font-light font-body;
}

.content-width {
    @apply max-w-7xl w-full mx-auto;
}

.heading {
    @apply text-heading font-display uppercase;
}

.heading-light {
    @apply text-white font-display uppercase;
}

.button {
    @apply inline-block px-6 py-2.5 border-3 border-button rounded-lg text-accent font-display font-bold tracking-wide uppercase;
}

.button-light {
    @apply inline-block px-6 py-2.5 border-3 border-button-light rounded-lg text-white font-display font-bold tracking-wide uppercase;
}

svg {
    @apply h-full fill-current;
}

.tab {
    display: none;
}

.tab+.content {
    display: none;
}

.tab:checked+.content {
    display: block;
}