#page main h2,
#section .content h2 {
    @apply heading mt-6 mb-4;
}

#page main h2:first-child,
#section .content h2:first-child {
    @apply mt-0;
}

#page main p,
#section .content p {
    @apply mb-3;
}

#toc li {
    @apply mb-4 text-pigeon-blue text-lg font-display font-extrabold uppercase;
}