<div class="content-width relative py-32 z-0">
    <div class="max-w-xl mb-6">
        {{ with .subtitle }}
        <h3 class="mb-2 text-lg text-accent font-display uppercase">{{ . }}</h3>
        {{ end }}
        <h2 class="heading mb-6 text-4xl font-bold">{{ .title }}</h2>
        <p class="mb-4 text-xl">{{ .description }}</p>

        <div class="flex -mx-3">
            {{ range .buttons }}
            <a class="button m-3 {{ .class }}" href="{{ .link }}">{{ .label }}</a>
            {{ end }}
        </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-12">
        {{ range .icons }}
        <div>
            <div class="w-12 h-12 mb-2">
                {{ with .icon }}
                {{ $svg := resources.Get . }}
                {{ $svg.Content | safeHTML }}
                {{ else }}
                <div class="w-full h-full bg-gray-200"></div>
                {{ end }}
            </div>
            <p class="text-lg">{{ .description }}</p>
        </div>
        {{ end }}
    </div>
</div>