<header class="pt-20 pb-16">
    <div class="content-width flex">
        <div class="max-w-2xl">
            <h4 class="mb-2 text-magenta-red">{{ .subtitle }}</h4>
            <h1 class="mb-4">{{ .title }}</h1>
            <p class="text-lg">{{ .summary }}</p>

            {{ with .nav }}
            <div class="grid sm:grid-cols-2 gap-4 mt-10">
                {{ range . }}
                <a class="flex items-center max-w-min mb-8 text-button-lg text-pigeon-blue font-display font-bold uppercase" href="{{ .link }}">
                    <div class="flex justify-center items-center w-11 h-11 flex-shrink-0 mr-4">
                        {{ with .icon }}
                        {{ $svg := resources.Get . }}
                        {{ $svg.Content | safeHTML}}
                        {{ else }}
                        <div class="w-full h-full rounded bg-gray-200 bg-opacity-50"></div>
                        {{ end }}
                    </div>
                    <span class="leading-none">{{ .label }}</span>
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div>
            hi
        </div>
    </div>
</header>