<div class="content-width grid md:grid-cols-2 gap-8 py-24">
    {{ $o := ""}}
    {{ if eq .align "right" }}{{ $o = "order-1" }}{{ end }}
    <div class="{{ $o }}">
        <div class="p-16">
            <h4 class="mb-2 text-denim-blue">{{ .subtitle }}</h4>
            <h2 class="mb-4 text-white">{{ .title }}</h2>
            <p class="mb-4 text-regular text-white">{{ .description }}</p>
        </div>
        {{ range first (div (add 1 (len .options)) 2) .options }}
        {{ partial "training/option" . }}
        {{ end }}
    </div>
    <div>
        <div class="h-160 mb-8 rounded overflow-hidden">
            {{ with .image }}
            {{ partial "img-fill" (dict "src" . "h" 640 "w" 640 "p" $.imagePosition) }}
            {{ else }}
            <div class="h-full bg-gray-50 bg-opacity-50"></div>
            {{ end }}
        </div>
        {{ range last (div (len .options) 2) .options }}
        {{ partial "training/option" . }}
        {{ end }}
    </div>
</div>