<div class="p-16 rounded mb-8 bg-white">
    <div class="w-12 h-12 mb-4">
        {{ with .icon }}
        {{ $img := resources.Get . }}
        {{ $img.Content | safeHTML }}
        {{ else }}
        <div class="w-full h-full rounded bg-gray-200"></div>
        {{ end }}
    </div>
    <h4>Training Option</h4>
    <h2 class="mb-4">{{ .title }}</h2>
    <p class="mb-4 text-regular">{{ .description }}</p>
    {{ range .buttons }}
    {{ $color := "" }}
    {{ if .color }}
    {{ if .background }}
    {{ $color = (printf "text-white border-%s bg-%s" .color .color) }}
    {{ else }}
    {{$color = (printf "text-%s border-%s" .color .color) }}
    {{ end }}
    {{ end }}
    <a href="{{ .link }}" class="button {{$color}}">{{ .label }}</a>
    {{ end }}
</div>