{{ $s := newScratch }}

{{ $s.Set "class" (or .class "") }}
{{ $s.Set "style" slice }}

{{/* Use provided context or context from data */}}
{{ if reflect.IsMap .context }}
{{ $s.Set "this" . }}
{{ else if .context }}
{{ with index site.Data .kind .context }}
{{ $s.Set "this" . }}
{{ end }}
{{ end }}

{{ with ($s.Get "this").background.color }}
{{ $s.Add "style" (slice (printf "background-color:%s" .))}}
{{ end }}

{{ with ($s.Get "this").background.image }}
{{ $img := resources.Get ($s.Get "this").background.image }}
{{ if ne (path.Ext .) ".svg"}}
{{ $img = $img.Fit "2000x600" }}
{{ end }}
{{ $s.Set "background-image" (slice
(printf "background-image:url(%s)" $img.Permalink )
(printf "background-repeat:%s" (or ($s.Get "this").background.repeat "no-repeat"))
(printf "background-position:%s" (or ($s.Get "this").background.position "right"))
(printf "background-size:%s" (or ($s.Get "this").background.size "contain"))
(printf "mix-blend-mode:%s" (or ($s.Get "this").background.blend "normal"))
(printf "opacity:%f" (or ($s.Get "this").background.opacity "1"))
)}}
{{ $s.Add "class" "relative"}}
{{ end }}


{{ with ($s.Get "this").background.gradient }}
{{ $s.Add "style" (slice (printf "background-image:linear-gradient(%s)" .)) }}
{{ end }}

{{ $class := printf "class='%s'" ($s.Get "class") }}
{{ $style := printf "style='%s'" (delimit ($s.Get "style") ";" ) }}
<section {{ $class | safeHTMLAttr }} {{ $style | safeHTMLAttr }}>
    {{ with $s.Get "background-image" }}
    {{ $style := printf "style='%s'" (delimit ($s.Get "background-image" ) ";" ) }}
    <div class='{{if not ($s.Get "this").background.fullWidth}}content-width{{end}} absolute top-0 right-0 bottom-0 left-0'
        {{ $style | safeHTMLAttr }}></div>
    {{ end }}

    {{ partial .kind ($s.Get "this").context }}
</section>