{{ if .simple }}
<div class="flex flex-col items-center py-20 text-center">
    <h1 class="content-width mb-8 text-white">
        {{ replace .title "\\n" "<br>" | safeHTML }}
    </h1>
    <div class="flex justify-center">
        {{ range .buttons }}
        {{ partial "button" (merge . (dict "class" "mx-3"))}}
        {{ end }}
    </div>
</div>
{{ else }}

{{ $textcolor := "text-white" }}
{{ with .light }}{{ $textcolor = "text-prussian-blue" }}{{ end }}

<div class="content-width relative py-20">
    <div class="relative">
        <div class="max-w-lg">
            {{ with .subtitle }}
            <h4 class="mb-2 text-pink-red">{{ . }}</h4>
            {{ end }}
            <h2 class="mb-6 {{$textcolor}}">{{ $.title }}</h2>
            {{ with .description }}
            <p class="mb-8 text-regular {{$textcolor}}">{{ . }}</p>
            {{ end }}

            {{ with .icons }}
            <div class="grid grid-cols-2 gap-4 mb-8">
                {{ range . }}
                <div class="flex items-center text-sky-blue">
                    <div class="w-11 h-11 flex-shrink-0 mr-4">
                        {{ with .icon }}
                        {{ $svg := resources.Get . }}
                        {{ $svg.Content | safeHTML }}
                        {{ else }}
                        <div class="w-full h-full rounded bg-gray-200 bg-opacity-50"></div>
                        {{ end }}
                    </div>
                    <p class="max-w-min text-button-lg font-display font-bold uppercase">{{ .label }}</p>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="flex -m-3">
            {{ range .buttons }}
            {{ partial "button" (merge . (dict "class" "m-3"))}}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}