{{ define "main" }}
<main>
    <header class="content-width flex flex-col justify-end pt-80 pb-24">
        <div class="md:max-w-1/2 mb-8">
            <h1 class="heading mb-4 text-5xl font-extrabold">Light Your Path to a Healthier Future</h1>
            <p class="mb-4 text-2xl text-body leading-relaxed">Get the wholistic training you need to take control of
                your health and speak to the lifestyle needs of your community with confidence.</p>
            <button class="button">Start Training</button>
        </div>
        {{ partialCached "site/affiliated" . }}
    </header>

    <section id="individual-training" class="bg-off-white overflow-hidden">
        <div class="content-width relative py-32">
            <div class="absolute top-0 right-0 w-80 h-5/6 rounded-3xl bg-light transform rotate-45 translate-x-10 -translate-y-20"></div>
            <div class="absolute top-0 right-0 w-32 h-full border-8 border-accent-dark rounded-3xl transform rotate-45 -translate-x-10 translate-y-10"></div>
            <div class="absolute top-0 right-0 w-32 h-5/6 rounded-3xl bg-secondary-light transform rotate-45 translate-x-40 translate-y-32"></div>
            <div class="absolute mb-12 bottom-0 right-0">
                {{ partial "img-fit" (dict "src" "img/device-collage.png" "h" 400 "w" 600 ) }}
            </div>
            <h3 class="mb-2 text-lg text-accent font-display uppercase">Individual Training</h3>
            <h2 class="heading max-w-xl mb-3 text-4xl font-extrabold">Receive Guided Health Training Online</h2>
            <p class="max-w-lg mb-6 text-xl leading-relaxed">Find answers to your questions about natural remedies, a
                healthy lifestyle, beating back disease, and community health education with personalized guidance
                through our wholistic lifestyle courses. Be illuminated by an approach which values hands on experience,
                scientific accuracy and Divine inspiration. Learn from anywhere with our user-friendly online e-learning
                platform.
            </p>
            <a href="#" class="button">Learn More</a>
        </div>
    </section>
    <section class="bg-md overflow-hidden">
        <div class="content-width relative flex justify-end py-32">
            <div class="absolute bottom-0 left-0 w-48 h-5/4 rounded-3xl bg-secondary-dark bg-opacity-40 transform translate-x-14 -translate-y-5 -rotate-60"></div>
            <div class="absolute bottom-0 left-0 w-48 h-5/6 rounded-3xl bg-secondary-dark bg-opacity-95 transform translate-x-10 -rotate-60"></div>
            <div class="absolute bottom-0 left-0 w-48 h-5/4 rounded-3xl border-4 border-white transform translate-x-32 -translate-y-4 -rotate-60"></div>
            <div class="absolute bottom-0 left-0 w-16 h-16 rounded-2xl bg-secondary-dark transform translate-x-24 -translate-y-128 -rotate-60"></div>
            
            <!-- TABS -->

            <div class="absolute left-0 bottom-0 transform translate-y-10">
                {{ partial "img-fit" (dict "src" "img/home-remedies.png" "h" 600 "w" 550 "p" "bottom" ) }}
            </div>
            <div class="max-w-sm">
                <h3 class="mb-2 text-lg text-accent font-display uppercase">Training Option</h3>
                <h2 class="heading max-w-sm mb-3 text-4xl font-extrabold">Herbal Remedies</h2>
                <p class="max-w-md mb-6 text-xl leading-relaxed">This certificate program gives you a
                    broad-based
                    foundational knowledge of practical herbal applications for both personal and family purposes.</p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
    </section>
    <section>
        <div class="h-96 bg-gray-400">
            {{ partial "img-fill" (dict "src" "img/connect-with-your-community.jpg" "h" 400 "w" 2000) }}
        </div>
    </section>
    <section class="content-width py-24 text-center">
        <h3 class="mb-2 text-lg text-accent font-display uppercase">Church Training</h3>
        <h2 class="heading max-w-sm mx-auto mb-3 text-4xl font-extrabold">Connect With Your Community</h2>
        <p class="max-w-lg mx-auto mb-6 text-xl leading-relaxed">Light your local church, your community, or the world
            at large by training your church in proven health
            outreach methods for sharing the secrets to a healthier body, mind, and soul.</p>
        <a href="#" class="button inline-block">Learn More</a>
    </section>
    <section class="bg-secondary py-32">
        <div class="content-width">
            <div class="max-w-screen-sm mx-auto mb-24">
                <h3 class="mb-2 text-lg text-light font-display uppercase">A Trusted Source</h3>
                <h2 class="heading-light mb-6 text-4xl text-white font-extrabold">Learn with Confidence</h2>
                <p class="mb-12 text-2xl text-white leading-relaxed">With over a decade of experience working with
                    churches and conferences in over 90 countries as an official member organization of ASI, a
                    department of the North American Division of Seventh-day Adventist, LIGHT gives you a place to learn
                    from sources you can trust. Over 30,000 church member have benefited from LIGHT courses that offer
                    up-to-date information assembled by a research of experienced medical professionals, health
                    educators and pastors.</p>

                {{ partialCached "site/affiliated" . }}
            </div>
            <div class="max-w-screen-lg mx-auto flex justify-around items-start">
                {{ $star := resources.Get "img/star.svg" }}
                {{ $star := $star.Content | safeHTML }}
                {{ range .Site.Data.testimonies }}
                <div class="w-full p-8 rounded m-4 bg-white">
                    <div class="flex mb-3">
                        {{ range seq .rating }}
                        <div class="w-5 mr-2 text-footer">
                            {{ $star }}
                        </div>
                        {{ end }}
                    </div>
                    <p class="mb-6">{{ .review }}</p>
                    <div class="flex">
                        <div class="w-12 h-12 flex-shrink-0 rounded-full mr-4 bg-gray-200"></div>
                        <div>
                            <p class="heading font-extrabold">{{ .name }}</p>
                            <p class="text-sm">{{ replace .position "\n" "<br>" | safeHTML }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</main>
{{ end }}